.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid transparent;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 27px;

    .logo {
      font-size: 18px;
      text-decoration-line: none;
      color: var(--navColor);
    }

    .linkList {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    .linkList li:not(:last-child) {
      margin-right: 31.5px;
    }

    .linkItem {
      list-style-type: none;
    }

    .link {
      font-weight: var(--font-weight-bold);
      color: var(--navColor);
      font-size: 18px;
      text-decoration-line: none;

      &:hover {
        color: var(--warningColor);
      }
    }
  }
}
