@import '../../../../styles/mixins/breakpoints.scss';

.wrapperCard {
  width: 600px;
  height: 220px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
  overflow: hidden;
  background: var(--bgLightDarkColor);
  border-radius: 9px;
  margin: 13.5px;

  @include media-max-width($sm) {
    flex-direction: column;
    height: initial;
    width: 100%;
  }
}
