:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-super-bold: 800;
  --font-weight-heavy-bold: 900;

  --line-height-small: 21.94px;
  --line-height-medium: 26px;
  --line-height-large: 29.25px;

  --bgDarkColor: #202329;
  --bgLightDarkColor: #3c3e44;

  --navColor: #333333;

  --color-white: #ffff;
  --color-dark-white: #f5f5f5;

  --fontSize: 16px;
  --fontWeight: var(--font-weight-regular);

  --warningColor: #ff9800;
  --successColor: #55cc44;
  --dangerColor: #d63d2e;
  --secondaryColor: #9e9e9e;
}
