.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  color: var(--secondaryColor);
  min-height: calc(120px);
  width: 100%;
  background: var(--bgDarkColor);
  padding: 27px 0;
  font-size: 13.5px;

  .resourceList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-light);
  }

  .resourceItem {
    list-style-type: none;
    line-height: var(--line-height-large);
  }

  .resourceItem ~ .resourceItem {
    margin-left: 27px;
  }

  .resourceItem span {
    text-transform: uppercase;
    line-height: var(--line-height-small);
  }

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
  }

  .statusCaption {
    text-transform: uppercase;
    text-align: center;
    font-weight: var(--font-weight-light);
    margin: 4.5px 9px;
    color: var(--secondaryColor);
    line-height: var(--line-height-small);
  }

  .statusIcon {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: var(--successColor);
  }
}
